h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.btn {
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #333333;
}

.cool-button:hover {
  background-color: #2980b9;
  color: #ffffff;
  transform: scale(1.05);
}

input[type=number] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card {
  height: 120px;
  width: 120px;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardFront,
.cardBack {
  box-sizing: border-box;
  border-radius: 0.25rem;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  transition: transform 0.5s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #ebf4ff;
  text-align: center;

}
.cardBack {
  transform: perspective(1000px) rotateY(180deg);
}

.cardBack.flipped {
  transform: perspective(1000px) rotateY(0deg);
}

.cardFront {
  transform: perspective(1000px) rotateY(0deg);
}

.cardFront.flipped {
  transform: perspective(1000px) rotateY(-180deg);
}

.cardFront.inUse {
  border-style: solid;
  border-color: #cc0202;
}
.cardFront.isAvailable, .cardBack.isAvailable {
  border-style: solid;
  border-color: #00AB66;
  border-width: 5px;
}

/* Images */
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  left: 0%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.75); /* Black see-through */
  color: rgb(0, 0, 0); 
  width: 100%;
  height: 35%;
  transition: .5s ease;
  opacity:1;
  color: #f9f9f9;
  /* font-size: 20px; */
  /* padding: 5px; */
  margin: auto;
  text-align: center;
  border-radius: 0.25rem;
}

/* .container:hover .overlay {
  opacity: 1;
} */

.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}